extends layout

block content
    a(href="/") 
        h1=title
    //Can be replaced by a common version. Barracas is more complete
    #app
        .d-flex.justify-content-center
            nav(aria-label="...")
                ul.pagination.pagination-lg
                    li.m-1.page-item.active(aria-current="page",v-if="previous!=-1")
                        a.page-link(:href="'/'+tipo+'/fila/'+previous")
                            h1 <
                    li.m-1.page-item.active(aria-current="page")
                        a.page-link(href="/")
                            h1=title
                    li.m-1.page-item.active(aria-current="page",v-if="next!=-1")
                        a.page-link(:href="'/'+tipo+'/fila/'+next")
                            h1 >
        .container
            .row
                .col-md-4
                    .container(v-if="orientation=='Lateral'")
                        .d-flex.flex-row-reverse
                            .fila(v-for="item in barracaChapeu",v-if="item.subtipo=='Frontal'")
                                button.btn.btn-secondary.tent(:class="{ annex:item.annex}",:id="item.id",:rented="item.rented",:reserved="item.reserved",:pago="item.pago",:frontal="item.frontal",:startDate="item.startDate",:endDate="item.endDate",type="button",data-bs-toggle="collapse",:data-bs-target="'#collapse'+item.id",aria-expanded="false",aria-controls="collapse") {{ item.number }}
                                collapse(:id="'collapse'+item.id",:item="item",:precos="precos",:tipo="tipoPresentation")
                        .d-flex.flex-row-reverse
                            .d-flex.flex-column
                                .fila(v-for="item in barracaChapeu",v-if="item.subtipo=='Lateral'")
                                    .d-flex.flex-row
                                        button.btn.btn-secondary.tent(:id="item.id",:rented="item.rented",:reserved="item.reserved",:pago="item.pago",:frontal="item.frontal",:startDate="item.startDate",:endDate="item.endDate",type="button",data-bs-toggle="collapse",:data-bs-target="'#collapse'+item.id",aria-expanded="false",aria-controls="collapse") {{ item.number }}
                                        collapse(:id="'collapse'+item.id",:item="item",:precos="precos",:tipo="tipoPresentation")
                                        .tent.border.border-0
        //TODO Traseira
        .conainer-fluid.text-center(v-if="orientation=='Traseira'")
            .fila
                .d-flex.flex-row
                    div(v-for="item in barracaChapeu")
                        button.btn.btn-secondary.tent(:id="item.id",:rented="item.rented",:reserved="item.reserved",:pago="item.pago",:frontal="item.frontal",:startDate="item.startDate",:endDate="item.endDate",type="button",data-bs-toggle="collapse",:data-bs-target="'#collapse'+item.id",aria-expanded="false",aria-controls="collapse") {{ item.number }}
                        collapse(:id="'collapse'+item.id",:item="item",:precos="precos",:tipo="tipoPresentation")
        .modal.fade(id="reserveTent",tabindex="-1",role="dialog",aria-labelledby="reserveTentLabel",aria-hidden="true",style="display:none")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5.modal-title(id="reserveTentLabel") Reservar {{tipoPresentation}} para vário dias
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        form
                            input.form-control.id(type="hidden",value="")
                            .form-group.row
                                label.col-sm-4.col-form-label(for="name") Nome
                                .col-sm-8
                                    input.form-control(type="input",id="name",placeholder="Anónimo")
                            .form-group.row
                                label.col-sm-4.col-form-label(for="startDate") Data de ínicio
                                .col-sm-8
                                    input.form-control.date(type="date",id="startDate",min="",placeholder="")
                            .form-group.row
                                label.col-sm-4.col-form-label(for="endDate") Data de fim
                                .col-sm-8
                                    input.form-control.date(type="date",id="endDate",min="",placeholder="")
                            .form-group.row
                                label.col-sm-4.col-form-label(for="price") Valor
                                .col-sm-8.input-group.mb-2
                                    input.form-control(type="number",id="price",min="0",step="0.50",placeholder="",v-model="valorReserva" )
                                    .input-group-prepend
                                        .input-group-text €
                            .form-group.row
                                label.col-sm-4.col-form-label(for="pago") Pago
                                .col-sm-8
                                    input.form-check-input(type="checkbox",id="pago")
                            .form-group.row.predefined-values
                                .btn.btn-primary.semana(:price="precos[tipoPresentation].Lateral.Quinzena.valor" @click="valorReserva=precos[tipoPresentation].Lateral.Semana.valor") Semana
                                .btn.btn-primary.quinzena(:price="precos[tipoPresentation]['Lateral']['Quinzena'].valor",@click="valorReserva=precos[tipoPresentation].Lateral.Quinzena.valor") Quinzena
                                .btn.btn-primary.mes(:price="precos[tipoPresentation]['Lateral']['Mês'].valor",@click="valorReserva=precos[tipoPresentation].Lateral['Mês'].valor") Mês
                    .modal-footer
                        button.btn.btn-secondary(type="button",data-bs-dismiss="modal") Fechar
                        button.btn.btn-primary.reservar(type="button") Reservar