extends layout

block content
  h1 Gestão de Barracas e Chapéus
  form.card
    .form-row.card-body
      .col
        input(type="email",placeholder="Email")
      .col
        input(type="password",placeholder="Palavra Passe")
      .col
        button.btn.btn-primary(type="button") Login
  .card
    .card-title
      h2 Barracas
    .card-body
      .fila
        a.btn.btn-primary.btn-lg.tent(role="button",href="/fila/1") Fila 1
        a.btn.btn-primary.btn-lg.tent(role="button",href="/fila/2") Fila 2
        a.btn.btn-primary.btn-lg.tent(role="button",href="/fila/3") Fila 3 (Trás)
        a.btn.btn-primary.btn-lg.tent(role="button",href="/fila/4") Fila 4
        a.btn.btn-primary.btn-lg.tent(role="button",href="/fila/5") Fila 5
  h2 Chapéus
  .fila
    a.btn.btn-primary.btn-lg.tent(role="button",href="/chapeus") Fila 1
  h2 Vista geral
  .fila
    a.btn.btn-primary.btn-lg.tent(role="button",href="/vista-geral") Vista Geral
  h2 Relatórios
  .fila
    a.btn.btn-primary.btn-lg.tent(role="button",href="/relatorios/aluguer/hoje") Alugueres Dia