extends layout

block content
  h1 Gestão de Barracas e Chapéus
    h2 Barracas
    .fila
      a.btn.btn-primary.btn-lg.tent(role="button",href="/fila/1") Fila 1
      a.btn.btn-primary.btn-lg.tent(role="button",href="/fila/2") Fila 2
      a.btn.btn-primary.btn-lg.tent(role="button",href="/fila/3") Fila 3 (Trás)
      a.btn.btn-primary.btn-lg.tent(role="button",href="/fila/4") Fila 4
      a.btn.btn-primary.btn-lg.tent(role="button",href="/fila/5") Fila 5
    h2 Chapéus
      a.btn.btn-primary.btn-lg.tent(role="button",href="/chapeus") Fila 1
