extends layout

block content
	.map(id="map")
	.main#app
		h1.info {{title[language]}}
		//iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d678.1559030006721!2d-9.224333070787692!3d39.42870719871828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x21de9141a791322c!2sBandeira+Verde!5e1!3m2!1spt-PT!2spt!4v1535420352129",width="100%",height="200px",frameborder="0", style="border:0",allowfullscreen)
		.info
			p.info {{ text[language] }}
			h2.text-center Preçario
			table.table.table-hover
				thead
					th 
					th Dia
					th 1/2 Dia
					th 1/2 Semana
					th 1 Semana
					th 2 Semanas
					th 3 Semanas
					th 1 Mês
				tbody
					tr
						th Barraca (Lateral)
						td {{ precos.Barraca.Lateral.Dia.valor }}€
						td {{ precos.Barraca.Lateral.Tarde.valor }}€
						td 33€
						td {{ precos.Barraca.Lateral.Semana.valor }}€
						td {{ precos.Barraca.Lateral.Quinzena.valor }}€
						td 110€
						td {{ precos.Barraca.Lateral["Mês"].valor }}€
					tr
						th Barraca (Frente de praia)
						td {{ precos.Barraca.Frontal.Dia.valor }}€
						td {{ precos.Barraca.Frontal.Tarde.valor }}€
						td {{ precos.Barraca.Frontal.Tarde.valor }}€
						td {{ precos.Barraca.Frontal.Semana.valor }}€
						td {{ precos.Barraca.Frontal.Quinzena.valor }}€
						td 110€
						td {{ precos.Barraca.Frontal["Mês"].valor }}€
					tr
						th Chapéu coco
						td {{ precos.Chapeu.Frontal.Dia.valor }}€
						td {{ precos.Chapeu.Frontal.Tarde.valor }}€
						td 
						td 
						td 
						td 
						td 			
			|* os preços incluem o IVA à taxa legal.
	script(src="/javascripts/maps.js")
	//TODO fill in key dynamically, though it is limited to this domain.
	script(async,defer,src="https://maps.googleapis.com/maps/api/js?key="+apiKey+"&callback=initMap")