extends layout
block content
    h2 Installer
    #setup
        .form-group
            label Number of rows
            input.form-control#rows(type="number",v-model="rows")
        .form-group(v-for="row in rowIter")
            label Number of rows {{row}}
            input.form-control#rows(type="number")
