extends layout

block content
  a(href="/")
    h1=title
  if (dados.rows.length>0)
    table.table.table-hover
      thead
        each key in Object.keys(dados.rows[0])
          td=key
      tbody
        for row in dados.rows
          tr
            for value in row
              td=value