extends layout

block content

  a(href="/")
    h1.text-center=title
  #app
    .d-flex.justify-content-center
      nav(aria-label="...")
        ul.pagination.pagination-lg
          li.m-1.page-item(:class="{ active:isActive('06') }", aria-current="link")
            a.page-link(href="06")
              h4 Junho
          li.m-1.page-item(:class="{ active:isActive('07') }", aria-current="link")
            a.page-link(href="07")
              h4 Julho
          li.m-1.page-item(:class="{ active:isActive('08') }", aria-current="link")
            a.page-link(href="08")
              h4 Agosto
          li.m-1.page-item(:class="{ active:isActive('09') }", aria-current="link")
            a.page-link(href="09")
              h4 Setembro

    .form-check.form-switch()
      input.form-check-input(type="checkbox" role="switch" id="switchRemoveCancelled" checked v-model="removeCancelled" )
      label.form-check-label(for="switchRemoveCancelled") Remover cancelados
    table.table.table-hover.reserves.report(v-if="Object.keys(this.reservas[0]).length>0")
      thead
        th(v-for="header in Object.keys(reservas[0])" :class="{'d-none':hiddenColumns.indexOf(header)>-1}" )
          | {{ header }}
      tbody
        tr(v-for="(reserva,index) in reservas",
          is="reserva" :key="index" :reserva="reserva",
          :hidden-columns='hiddenColumns',
          :row-options="rowOptions"
          :user-id="userId"
          :remove-cancelled="removeCancelled"
        )