extends layout
block content
  .card
    .card-body
      .container
        .row.justify-content-md-center
          .col.col-lg-3
            h3 Fechou a sessão.
        .row.justify-content-md-center
          .col.col-lg-2
            a(href="/") Pagina principal

