extends layout

block content
	a(href="/") 
		h3 Voltar
	.general-schema(load="true")
		.fila-1
			h3 Fila 1
		.fila-2
			h3 Fila 2
		.fila-3
			h3 Fila 3
		.fila-4
			h3 Fila 4
		.fila-5
			h3 Fila 5
	