extends layout

block content
	a(href="/") 
		h3 Voltar
	//Iterate all rows check for type and place Chapeus in first traseira
	#app
		.d-flex.flex-row.justify-content-start
			.flex-fill.btn.btn-primary Agua
		.d-flex.flex-row.justify-content-start
			.fila(v-for="filaBarraca,index of fila.barracas",v-if="geral.barracas[filaBarraca.localizacao]" :id="'Fila-'+index" )
				//Definido por causa das filas de 2024
				#laterais(v-if="elementosDaFila('barracas',filaBarraca.localizacao).orientacao=='Lateral'" v-bind:class="{'m-4': setSpacing(index),'mt-4':(index==0 || index==1), }")
					a(:href="'/barracas/fila/'+(parseInt(index)+1)")
						.btn.btn-primary.h2 {{ filaBarraca.localizacao }}
					#frontais.d-flex.flex-row
						fila(:mini="true",:fila="elementosFrontais('barracas',filaBarraca.localizacao).normal",:orientacao='"Lateral"')
						fila(:mini="true",:fila="elementosFrontais('barracas',filaBarraca.localizacao).anexo",v-if="geral.barracas[filaBarraca.localizacao].frontais.anexo.length>0",:orientacao="'Lateral'")
					#resto-de-fila-laterais.d-flex.flex-row
						.d-flex.flex-column
							fila(:mini="true", :exclude-type="'Frontal'" :fila="elementosDaFila('barracas',filaBarraca.localizacao).elementos",:orientacao="'Lateral'")
				#traseira.container.text-center(v-if="elementosDaFila('barracas',filaBarraca.localizacao).orientacao=='Traseira'")
					#chapeus.mb-4.chapeus(v-if="elementosDaFila('barracas',filaBarraca.localizacao).orientacao=='Traseira'")
						h1 Chapeús
						.col(v-for="filaChapeus,indexC of fila.chapeus",v-if="geral['chapeus'][filaChapeus.localizacao]" )
							.d-flex.justify-content-center
								a(:href="'/chapeus/fila/'+(parseInt(indexC)+1)")
									.btn.btn-primary.h2 {{ filaChapeus.localizacao  }}
								fila(:mini='true',:orientacao="'Traseira'", :fila="elementosDaFila('chapeus',filaChapeus.localizacao).elementos")
					a(:href="'/barracas/fila/'+(parseInt(index)+1)")
						.btn.btn-primary.h2 {{ filaBarraca.localizacao  }} (Traseira)
					fila(:mini='true',:orientacao="'Traseira'", :fila="elementosDaFila('barracas',filaBarraca.localizacao).elementos")

		input.form-control(type="date",v-model="alternativeDate",@change="gotoDate")
	//.general-schema(load="true")
		.barracas.fila-vertical(fila="1")
			h3 Fila 1
		.barracas.fila-vertical(fila="2")
			h3 Fila 2
		.zona-central
			.chapeus.chapeus-fila-1
				h3 chapeu 1
			.chapeus.chapeus-fila-2
				h3 chapeu 2
			.barracas.fila-horizontal(fila="3")
				h3 Fila 3
		.barracas.fila-vertical(fila="4")
			h3 Fila 4
		.barracas.fila-vertical(fila="5")
			h3 Fila 5