extends layout

block content
	a(href="/") 
		h3 Voltar
	.general-schema(load="true")
		.fila-vertical.fila-1
			h3 Fila 1
		.fila-vertical.fila-2
			h3 Fila 2
		.zona-central
			.chapeus-fila-1
			.chapeus-fila-2
			.fila-3
				h3 Fila 3
		.fila-vertical.fila-4
			h3 Fila 4
		.fila-veritical.fila-5
			h3 Fila 5
	.fila-3