extends layout

block content
	a(href="/") 
		h3 Voltar
	.general-schema(load="true")
		.barracas.fila-vertical(fila="1")
			h3 Fila 1
		.barracas.fila-vertical(fila="2")
			h3 Fila 2
		.zona-central
			.chapeus.chapeus-fila-1
				h3 chapeu 1
			.chapeus.chapeus-fila-2
				h3 chapeu 2
			.barracas.fila-horizontal(fila="3")
				h3 Fila 3
		.barracas.fila-vertical(fila="4")
			h3 Fila 4
		.barracas.fila-vertical(fila="5")
			h3 Fila 5