.collapse(:id="'collapse'+item.id")
    .reservar.card.card-body
        .btn.btn-primary.btn-lg.day.frontal(@click="reservar") Reservar {{ tipo }}
    .reservas.card.card-body
        a.btn.btn-primary.btn-lg(:href='"/calendar/"+item.id') Reservas
    .info.card.card-body(v-if="item.reserved || item.rented")
        //TODO add array with multiple rent info
        h5.text-center.text-decoration-underline(v-if="item.rented==true") {{ item.duration }}
        h5.fw-bold Informacao {{item.rentId}}
        span Alugada desde:
        strong.text-center {{item.startDate}}
        span.text-center até:
        strong.text-center.mt-0.mb-2 {{item.endDate}}
        .d-grid
            button.btn.btn-warning(@click="mudarAluguer") Mudar aluguer
    //Allows re-rent
    .alugar.card.card-body(v-if="Object.keys(precos).length>0")
        .btn.btn-primary.btn-lg.day.frontal(:price="precos[tipo][item.subtipo]['Dia'].valor",duracao="Dia",@click="alugar") Dia ({{precos[tipo][item.subtipo]["Dia"].valor}}€)
        .btn.btn-primary.btn-lg(:price="precos[tipo][item.subtipo]['Manhã'].valor",duracao="Manhã",@click="alugar") Manhã ({{precos[tipo][item.subtipo]["Manhã"].valor}}€)
        .btn.btn-primary.btn-lg(:price="precos[tipo][item.subtipo]['Tarde'].valor",duracao="Tarde",@click="alugar") Tarde ({{precos[tipo][item.subtipo]["Tarde"].valor}}€)
        .card.mt-2
            .card-header.text-center
                h5 Outro Valor
            .form-group
                .input-group
                    input.form-control(id="otherValue",type="number",min="0.00",step="0.50",size="3",v-model="outroPreco" )
                    .input-group-text €
                .d-grid
                    .btn.btn-primary.btn-lg.otherValue(:price="outroPreco",duracao="Dia",@click="alugar") Alugar Por Este Valor