body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.main{
	background-image: url('/images/fundo-info.jpg');
	width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.info{
	background-color: #ffffff91;
}
.map{
	width:100%;
	height:200px;
}
.general-schema{
	display: grid;
	grid-template-columns: repeat(2,2fr) 5fr repeat(2,2fr); /* ajust this to the number of cols*/
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
}
.zona-central{
	display: grid;
	grid-template-rows: repeat(3,150px);
	text-align: center;
  vertical-align: middle;
}

.chapeus-fila-1{
	grid-row:1;
}
.chapeus-fila-2{
	grid-row:2;
}
.fila-horizontal{
	grid-row:3;
}
.chapeu{
  width:13%;  /* ajust to fit them in the center*/
}

.fila.vertical{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.fila.horizontal{
	display: grid-inline;
	grid-template-columns: repeat(9,1fr);
}
.tent{
	grid-column: 1;
	width: 1fr;
	height: 100px;
	border: 1px solid black;
	text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: xx-large;
    margin: 1px;
}
.tent.annex{
	grid-column: 2;
}
.tent.Traseira{
	width:13%;
	grid-row:3;
}
.collapse{
	grid-column: 1 / 2;
}
.collapse.annex{
	grid-column: 2 / 2;
}
.tent[rented]{
	background-color: green;
}

.tent[reserved]{
	background-color: blue;
}

.aluger{
	border: 1px solid blue;
    border-radius-bottom: 20px;
}


.tent[rented]{
	background-color: green;
}

.tent[frontal] + .btn.day{

}

